html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  antiquewhite;
    text-align: center;
}

#game-arena {
    width: 800px;
    height: 600px;
    background-color: #333;
    border: 10px solid #666;
    position: relative;
}
