html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #faebd7;
    text-align: center;
}

#game-arena {
    width: 600px;
    height: 600px;
    background-color: #333;
    border: 10px solid #666;
    position: relative;
}

#score-board {
    margin-bottom: 1%;
    font-size: larger;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: tomato;
}

#start-btn {
    margin-top: 1%;
    font-weight: bold;
    width: 6%;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
